<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-controller='patient.tabCtrl'>
    <!-- index Tab -->
    <ion-tab title="服务" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud private" href="#/patient/index">
        <ion-nav-view name="patient-index"></ion-nav-view>
    </ion-tab>
    <!-- myDoctor Tab -->
    <ion-tab title="我的医生" icon-off="ion-ios-list-outline" icon-on="ion-ios-list private" href="#/patient/myDoctor" >
        <ion-nav-view name="patient-myDoctor"></ion-nav-view>
    </ion-tab>
    <!-- doctors Tab -->
    <ion-tab title="找医生" icon-off="ion-ios-help-outline" icon-on="ion-ios-help private" href="#/patient/doctors"  >
        <ion-nav-view name="patient-doctors"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person private" href="#/patient/member"  >
        <ion-nav-view name="patient-member"></ion-nav-view>
    </ion-tab>
</ion-tabs>
