<ion-view view-title="{{params.typeName}}注册" cache-view="false">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="手机/邮箱" ng-model="params.user">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="密码" ng-model="params.password">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="确认密码" ng-model="params.confirmPassword">
            </label>
            <div class="assertive">{{params.errorMsg}}</div>
        </div>
        <div class="list padding">
            <button class="button button-block button-positive" ng-click="client.signup()">
                注册{{params.showType}}
            </button>
            <a href="javascript:void(0)" ng-click="client.changeType(0)" ng-if="params.userType ==1">医生注册</a>
            <a href="javascript:void(0)"  ng-click="client.changeType(1)" ng-if="params.userType ==0">病人注册</a>
        </div>
    </ion-content>
</ion-view>
