<ion-view view-title="联系帮助">
    <ion-content>
        <div class="list">
            <div class="row">
                <div class="item-image" >
                    <img ng-src="img/doctor-1.jpg"  >
                </div>
            </div>
            <div class="item">如果您有什么疑问，需要解答，或者想更加了解我们，欢迎使用下面的联系方式。</div>
            <div class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i> 0755-88888888
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-iphone"></i> 18888888888
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-email"></i>help@yunyi.com
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
