<ion-view view-title="工作站" >
    <ion-content>
        <div class="list">
            <div class="item item-thumbnail-left" href="#">
                <img ng-src="{{doctor.CustomerUser.Photo==null?'/img/noavatar.jpg':imgPath+doctor.CustomerUser.Photo}}" />
                <h2>{{doctor.CustomerUser.Name}}</h2>
                <p>{{doctor.Hospital.Name}}</p>
                <p>{{doctor.DiseaseCategory.Name}}</p>
            </div>
            <div class="list">
                <a href="#/doc/member/profile" class="item">个人资料</a>
                <a href="#/doc/member/docProfile" class="item">医生资料</a>
                <a href="#/doc/member/businessRange" class="item">业务范围</a>
                <a href="#/doc/member/consultationRight" class="item">收费标准</a>
                <a href="#/doc/member/onlineMessage" class="item">网上咨询</a>
                <a href="#/doc/member/telAppoint" class="item">电话咨询</a>
                <a href="" class="item">退出登录</a>
            </div>
        </div>
    </ion-content>
</ion-view>
