<ion-tabs class="tabs-icon-top tabs-color-active-positive" >

 <!-- index Tab -->
    <ion-tab title="云医" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud private" href="#/doc/index">
        <ion-nav-view name="doc-index"></ion-nav-view>
    </ion-tab>
    <!-- visitStop Tab -->
    <ion-tab title="出停诊" icon-off="ion-ios-list-outline" icon-on="ion-ios-list private" href="#/doc/visitStop">
        <ion-nav-view name="doc-visitStop"></ion-nav-view>
    </ion-tab>
    <!-- Account Tab -->
    <ion-tab title="联系帮助" icon-off="ion-ios-help-outline" icon-on="ion-ios-help private" href="#/doc/help">
        <ion-nav-view name="doc-help"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我"  icon-off="ion-ios-person-outline" icon-on="ion-ios-person private" href="#/doc/member">
        <ion-nav-view name="doc-member"></ion-nav-view>
    </ion-tab>

</ion-tabs>