<ion-view view-title="会话" cache-view="false" hide-tabs has-footer>
    <ion-content>
        <div class="chat">
            <div class="chat-content">
                <!--允许重复  track by $index -->
                <div class="chat-block" ng-repeat="item in contents track by $index   ">
                    <div class="clearfix"></div>
                    <!--freeIndex:{{freeIndex}}-freeStar:{{freeStar}}-index:{{$index}}-->
                    <div ng-if="item.message.ContentType!='通知'">
                        <div class="row left" ng-if="(item.message.UserId | chatUser:chatInfo)!='我'">
                            <div class="col-xs-2 avatar">
                                <img ng-src="{{chatInfo.OtherUserInfo.Photo|picSrc}}" alt="头像" class="img-responsive" />
                            </div>
                            <div class="col-xs-10">
                                <div class="text">
                                    <div class="name">{{item.message.UserId |chatUser:chatInfo}}</div>
                                    <div ng-bind-html="item.message.Content|chatContent">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row right" ng-if="(item.message.UserId | chatUser:chatInfo)=='我'">
                            <div class="col-xs-10">
                                <div class="text">
                                    <div class="name">{{item.message.UserId |chatUser:chatInfo}}</div>
                                    <div ng-if="item.State=='Wait'">
                                        <img src="/img/loading.gif" alt="加载中" style="width:10%;height:10%;" />
                                    </div>
                                    <div ng-bind-html="item.message.Content|chatContent">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 avatar">
                                <img ng-src="{{chatInfo.MyUserInfo.Photo|picSrc}}" al alt="头像" class="img-responsive" />
                            </div>
                        </div>
                        <div class="time">
                            {{item.message.CreatedOn | date:"yyyy-MM-dd hh:mm:ss"}}
                            <div ng-if="(freeIndex<$index||freeIndex==$index)">
                                {{chatInfo.ChatSystemHints.GeneralHints}}
                                <button class="send-btn" ng-if="chatInfo.MyUserInfo.UserType=='医生'" ng-click="client.payHints()">开始收费</button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="item.message.ContentType=='通知'">
                        <div class="time" style="font-size:24px">
                            <div ng-if="(item.message.Content|needEven)==true">
                                {{item.message.Content|systemHints:chatInfo.ChatSystemHints}}
                                <!--<div ng-bind-html="item.message.Content|systemHints:chatInfo.ChatSystemHints">

                        </div>-->
                            </div>
                            <div ng-if="(item.message.Content|needEven)!=true">
                                <div ng-if="(freeIndex<$index||freeIndex==$index)">
                                    <a ng-click="client.toPay()">{{item.message.Content|systemHints:chatInfo.ChatSystemHints}}</a>
                                </div>
                                <div ng-if="(freeIndex>$index)">
                                    {{item.message.Content|systemHints:chatInfo.ChatSystemHints}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bar bar-footer">
                <input type="text"  placeholder="写入消息" ng-model="params.message">
                <button class="send-btn" ng-click="client.sendMessage(1)">发送</button>
            </div>
        </div>
    </ion-content>
</ion-view>