@charset "UTF-8";
.back-color-yellow {
  background-color: #ecbf0a; }

.back-color-orange {
  background-color: #e5785b; }

.back-color-green {
  background-color: #01c7b0; }

.back-color-blue {
  background-color: #2ab4d8; }

/**
 * 首页
 */
.index .section-2 {
  background: url("../img/bg-1.jpg") no-repeat center center;
  background-size: 100% 100%;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  color: #fff; }
  .index .section-2 .name {
    font-size: 1.3rem; }
  .index .section-2 .hospital {
    padding-top: 0.5rem;
    font-size: 1.3rem; }
  .index .section-2 .category {
    font-size: 1.0rem; }
  .index .section-2 .img-responsive {
    display: inline; }
  .index .section-2 .avatar {
    border-radius: 50%;
    width: 5rem;
    height: 5rem; }

.index .section-3 {
  padding: 1rem;
  position: relative; }
  .index .section-3 .tetris {
    width: 50%;
    position: relative;
    float: left; }
    .index .section-3 .tetris a {
      display: block;
      text-align: center;
      color: #fff;
      margin: 5px;
      height: 100px; }
      .index .section-3 .tetris a i {
        font-size: 30px;
        clear: both;
        display: block;
        padding-top: 20px;
        padding-bottom: 5px; }
