<ion-view view-title="个人头像" cache-view="false" hide-tabs>
    <ion-nav-buttons side="right">
        <button class="button-clear" ng-click="client.show()">
            <i class="icon ion-camera dark"></i>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <div class="item item-image">
                <img ng-if="!preview" ng-src="{{params.customer.Photo==null?'/img/noavatar.jpg':imgPath+params.customer.Photo}}" />

                 <img ng-if="preview" ng-src="{{imageURI}}"/>
            </div>
        </div>
    </ion-content>
</ion-view>
